* {
  font-family: Futura-Medium, Century Gothic, Gill Sans, Helvetica, Arial,
    sans-serif;
}

.container-main {
  width: 85%;
  display: flex;
  margin: auto;
}

.left-side {
  width: 30%;
}

.list_container {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  font-family: sans-serif;
  font-weight: bold;

}
.women_image {
  width: 250px;
  height: 28.5vw;
  transition: 0.5s all ease-in-out;
}

.women_image:hover {
  height: 320px;
  transform: scale(1.1);

}

.women_name {
  color: #757575;
  text-decoration: none;
}

.women_price {
  font-weight: bold;
}

.women_size {
  font-weight: bold;

}

#women_main_product>.filter>div {
  display: flex;
  margin-left: 20px;
}

#women_main_product>.filter>div>p {
  margin-top: 0px;
}

.women_main_product {
  width: 20%;
  display: flex;
}
