* {
  font-family: Futura-Medium, Century Gothic, Gill Sans, Helvetica, Arial,
    sans-serif;
  /* cursor: pointer; */
}

.container-main {
  /* width: 1100px; */
  /* border: 1px solid rgb(10, 230, 72); */
  width: 85%;
  display: flex;
  margin: auto;
}

.left-side {
  width: 30%;
  /* border: 1px solid rgb(216, 21, 125); */
}

.list_container {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  font-family: sans-serif;
  font-weight: bold;

}

/* .women_card {
  /* width: auto; */
/* border: 1px solid rgb(74, 70, 157); */

/* } */

.women_image {
  /* border: 1px solid rgb(140, 7, 7); */
  width: 250px;
  height: 300px;
  transition: 0.5s all ease-in-out;
}

.women_image:hover {
  height: 320px;
  /* width: 270px; */
  transform: scale(1.1);

}

.women_name {
  color: #757575;
  text-decoration: none;
}

.women_price {
  font-weight: bold;
}

.women_size {
  font-weight: bold;

}

#women_main_product>.filter>div {
  display: flex;
  /* width: 30%; */
  margin-left: 20px;
}

#women_main_product>.filter>div>p {
  margin-top: 0px;
}

.women_main_product {
  width: 20%;
  display: flex;
}

/* .price-filter{

  } */