.myimgkid{
    width: 84%;
    height: 365px;
    
    margin: 0% 8% 3% 8%;
    background-image: url('https://img.mytheresa.com/media/static/raw/cms/l/GP_kids/FEB-Gatepage_KW_desktop_2x_20220218113700.jpg?imwidth=1180&imdensity=2');
    display: flex;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
}
.kidDiv{
    /* margin: 21%; */
    display: flex;
    color: white;
    font-size: 54px;
    font-weight: 380;
    align-items: center;
    
    justify-content: center;
    /* border: 3px solid yellow; */
    width:100%
}